@charset "UTF-8";
/* CSS Document */
	
body{
	background-color: #CC9;
	background:url(../foundation/startbootstrap-blog-home-master/img/OQ3A7S1.jpg) no-repeat;
    position: relative;
    background-size: cover;}	
header{
	margin-bottom: 50px;
	margin-top: 50px;
	}	
		
.navbar{
	margin-bottom: 0;
	border-radius: 0;
	background-color: #333333;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0;
}
.navbar-brand{
	float: left;
	min-height: 45px;
	padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
	color: #D5D5D5;
	color: #FFF;
	background-color: #333333;
	}
.navbar-inverse .navbar-nav li a {
	color: #D5D5D5; 
		}
		
#wordcolor{
	color: #FFF;
	padding-top:200px !important;
			}
			
.jumbotron h1{
	font-size:500%;
	text-transform:uppercase;
	text-shadow:1px 1px 10px #000000;
	}	

.jumbotron p{
	text-transform:uppercase;
	text-shadow:1px 1px 10px #000000;
	}													
	
.well{
	padding: 10px;
	margin: 0px;
	background:#F1C40F;
	border:#F1C40F;
	}
	
.container{
	margin-bottom: 50px;
	margin-top: 50px;
}

.container_1{
	margin-bottom: 20px;
	margin-top: 20px;
	background-color:#F1C40F; 
	padding:30px;
}


.navbar.navbar-inverse.navbar-fixed-top .container-fluid #bs-example-navbar-collapse-1 .nav.navbar-nav.navbar-right .dropdown .dropdown-menu {
	background-color:#333333;
}
.navbar.navbar-inverse.navbar-fixed-top .container-fluid #bs-example-navbar-collapse-1 .nav.navbar-nav .dropdown .dropdown-toggle {
	background-color: #333333;
}
.navbar.navbar-inverse.navbar-fixed-top .container-fluid #bs-example-navbar-collapse-1 .nav.navbar-nav .dropdown .dropdown-menu {
	background-color:#333333;
}

.container-fluid.text-center {
	background-color: #333;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}





/* boxgallery */

.navbar-brand img {
	width: auto;
    height: 40px;
	
	}


img {
    width: 100%;
    height: auto;
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 8px;
  line-height: 1.428571429;
  border-radius: 15px;
  }

.box{
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
	margin-bottom: 30px;
}
.box:before,
.box:after{
    content: "";
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 5%;
    left: 5%;
    transition: all 0.3s ease-in-out;
}
.box:after{
    top: auto;
    left: auto;
    bottom: 5%;
    right: 5%;
}
.box:hover:before,
.box:hover:after{
    width: 90%;
    height: 90%;
}
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    width: 100%;
    height: 100%;
    padding-top: 25%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.2s ease 0.3s;
}
.box:hover .box-content{ opacity: 1; }
.box .box-content:before,
.box .box-content:after{
    content: "";
    width: 85%;
    height: 85%;
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s ease 0s;
}
.box .box-content:before{ width: 0; }
.box .box-content:after{ height: 0; }
.box:hover .box-content:before{
    width: 85%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition-delay: 0.4s;
}
.box:hover .box-content:after{
    height: 85%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition-delay: 0.4s;
}
.box .title{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    text-transform:uppercase;
    margin: 0 0 10px;
	text-align:center;
}
.box .post{
    display: block;
    font-size: 15px;
    font-style: italic;
    color: #fff;
    margin-bottom: 10px;
	text-align:center;
}
.box .icon{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999;
	text-align:center;
}
.box .icon li{ display: inline-block;}
.box .icon a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15%;
    background: #fff;
    font-size: 15px;
    color: #663300;
    text-align: center;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
}
.box .icon a:hover{
    background: transparent;
    color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #3dbbff, -1px -1px 3px #fff;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}
License Terms

